 
 body{
    background-image: url('d5.jpg');   
   }
              #he{
                  background-color: aquamarine;
              text-align: center;
                width:100%;
              height:100%;
   
               background-size:cover;
          }
          h1{
              text-shadow:5px 4px 3px blue;
              color: white;
          }
          .footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: yellow;
    background-color: black;
         }
         a{
             color: White;
         }